<!DOCTYPE html>
<html>
  <head>
    <title>从澳门到珠海</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <!-- My Bootstrap 3.x-->
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />
		<link href="/lib/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/lib/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<script src="/lib/bootstrap/bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
		<script src="/lib/bootstrap/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		<script src="/lib/bootstrap/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
		
		<!-- My Bootstrap 2.x-->
		<!--<link href="/lib/bootstrap/bootstrap-2.3.2-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
		<!--<link href="/lib/bootstrap/bootstrap-2.3.2-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />-->
		<!--<script src="/lib/bootstrap/bootstrap-2.3.2-dist/js/jquery-1.11.3.js"></script>-->
		<!--<script src="/lib/bootstrap/bootstrap-2.3.2-dist/js/bootstrap.min.js"></script>-->
		<!--<script src="/lib/bootstrap/bootstrap-2.3.2-dist/js/bootstrap.js"></script>-->
		
		<!-- CDN Bootstrap -->
		<!--<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">-->
    <!--<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet">-->
    <!--<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <!--<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>-->
    <!--<script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.js"></script>-->
  </head>
  <body>
		<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">从澳门到珠海</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="#">首页</a>
						</li>
						<li>
							 <a href="#">今日特惠</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">积分商店<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="#">最新商家</a>
								</li>
								<li>
									 <a href="#">最火商家</a>
								</li>
								<li>
									 <a href="#">最惠商家</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">Separated link</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">搜索</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="#">登录</a>
						</li>
						<li>
							 <a href="#">注册</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多帮助<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="#">Action</a>
								</li>
								<li>
									 <a href="#">Another action</a>
								</li>
								<li>
									 <a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				
			</nav>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-2 column">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active">
					 <a href="#">美食</a>
				</li>
				<li>
					 <a href="#">酒店/客栈</a>
				</li>
				<li>
					 <a href="#">电影</a>
				</li>
				<li>
					 <a href="#">休闲娱乐</a>
				</li>
				<li>
					 <a href="#">周边游</a>
				</li>
				<li>
					 <a href="#">丽人</a>
				</li>
				<li>
					 <a href="#">KTV</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">更多<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							 <a href="#">生活购物</a>
						</li>
						<li>
							 <a href="#">生活服务</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-md-6 column">
			<div class="carousel slide" id="carousel-810647">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-810647">
					</li>
					<li data-slide-to="1" data-target="#carousel-810647">
					</li>
					<li data-slide-to="2" data-target="#carousel-810647">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active left">
						<img alt="" src="/image/shuicheng.jpg" />
						<div class="carousel-caption">
							<h4>
								梦幻水城
							</h4>
							<p>
								位于珠海市九洲大道兰埔，与南中国最大的皇家园林――圆明新园相邻，占地60000平方米，前期投资8千万元，共10大区域，28种娱乐设施，是以世界文明古国古埃及为背景建设的主题公园，于1999年7月建成开业
							</p>
						</div>
					</div>
					<div class="item next left">
						<img alt="" src="/image/dongaodao.jpg" />
						<div class="carousel-caption">
							<h4>
								东澳岛
							</h4>
							<p>
								东澳岛，英文DongAo Island，位于珠海市香洲区东南部，距离香洲30公里，万山群岛中部。 面积约4.663平方公里。由于岛东侧的东澳湾锲入中部约1500米，形成一块大凹部，故称东澳岛
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="/image/hengqin.jpg" />
						<div class="carousel-caption">
							<h4>
								横琴长隆
							</h4>
							<p>
								其应用国际先进技术和经验，自主创新，并采用最顶尖的科技设备、最顶级、最IN的设计和最完善的管理，全力打造一个集主题公园、豪华酒店、商务会展、旅游购物、体育休闲于一体的超级旅游度假区，这里将成为“世界级旅游巨无霸”和“世界的长隆”。
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-810647" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-810647" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
		<div class="col-md-4 column">
			<h1>
				吃货有福
			</h1>
			</br>
			<strong>
				每日上新，吃喝玩乐最低价！！
			</strong>
			<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column" style="font-size:60">
			<ul>
				<li>
					持续更新，每日放送
				</li>
				<li>
					可靠承诺
				</li>
				<li>
					消费累积
				</li>
				<li>
					服务返还
				</li>
				<li>
					简单操作，和团购无冲突
				</li>
				<li>
					微信绑定，建议操作
				</li>
				<li>
					微信，PC体验一致
				</li>
			</ul>
		</div>
	</div>
</div>
		<p style="text-align:right">
				 <a class="btn" href="#">查看详细</a>
		</p>
		</div>
	</div>
</div>
  </body>
</html>
