<!DOCTYPE html>
<html>
  <head>
    <title>从澳门到珠海</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <!-- My Bootstrap 3.x-->
    <!--<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />-->
		<!--<link href="/lib/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
		<!--<link href="/lib/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />-->
		<!--<script src="/lib/bootstrap/bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>-->
		<!--<script src="/lib/bootstrap/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>-->
		<!--<script src="/lib/bootstrap/bootstrap-3.3.5-dist/js/bootstrap.js"></script>-->
		
		<!-- My Bootstrap 2.x-->
		<!--<link href="/lib/bootstrap/bootstrap-2.3.2-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
		<!--<link href="/lib/bootstrap/bootstrap-2.3.2-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />-->
		<!--<script src="/lib/bootstrap/bootstrap-2.3.2-dist/js/jquery-1.11.3.js"></script>-->
		<!--<script src="/lib/bootstrap/bootstrap-2.3.2-dist/js/bootstrap.min.js"></script>-->
		<!--<script src="/lib/bootstrap/bootstrap-2.3.2-dist/js/bootstrap.js"></script>-->
		
		<!-- CDN Bootstrap -->
		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
		<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
		<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					积分商城
				</h1>
			</div>
			<ul class="breadcrumb">
				<li class="active">
					 兑换类型
				</li>
				<li>
					 <a href="#">礼品</a>
				</li>
				<li>
					 <a href="#">酒店</a>
				</li>
				<li>
					 <a href="#">饮食</a>
				</li>
				<li>
					 <a href="#">货币</a>
				</li>
			</ul>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/image/man_bag.jpg" />
						<div class="caption">
							<h3>
								新款帆布男包手提包 男士休闲手提包 男款帆布包
							</h3>
							<p>
								高碑店市新城梓发箱包销售部 经销批发的时尚休闲女包畅销消费者市场，在消费者当中享有较高的地位，公司与多家零售商和代理商建立了长期稳定的合作关系。高碑店市新城梓发箱包销售部经销的时尚休闲女包品种齐全、价格合理。高碑店市新城梓发箱包销售部实力雄厚，重信用、守合同、保证产品质量，以多品种经营特色和薄利多销的原则，赢得了广大客户的信任。 
							</p>
							<p>
								 <a class="btn btn-primary" href="#">去看看</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/image/man_bag.jpg" />
						<div class="caption">
							<h3>
								新款帆布男包手提包 男士休闲手提包 男款帆布包
							</h3>
							<p>
								高碑店市新城梓发箱包销售部 经销批发的时尚休闲女包畅销消费者市场，在消费者当中享有较高的地位，公司与多家零售商和代理商建立了长期稳定的合作关系。高碑店市新城梓发箱包销售部经销的时尚休闲女包品种齐全、价格合理。高碑店市新城梓发箱包销售部实力雄厚，重信用、守合同、保证产品质量，以多品种经营特色和薄利多销的原则，赢得了广大客户的信任。 
							</p>
							<p>
								 <a class="btn btn-primary" href="#">去看看</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/image/man_bag.jpg" />
						<div class="caption">
							<h3>
								新款帆布男包手提包 男士休闲手提包 男款帆布包
							</h3>
							<p>
								高碑店市新城梓发箱包销售部 经销批发的时尚休闲女包畅销消费者市场，在消费者当中享有较高的地位，公司与多家零售商和代理商建立了长期稳定的合作关系。高碑店市新城梓发箱包销售部经销的时尚休闲女包品种齐全、价格合理。高碑店市新城梓发箱包销售部实力雄厚，重信用、守合同、保证产品质量，以多品种经营特色和薄利多销的原则，赢得了广大客户的信任。 
							</p>
							<p>
								 <a class="btn btn-primary" href="#">去看看</a>
							</p>
						</div>
					</div>
				</div>
			
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/image/man_bag.jpg" />
						<div class="caption">
							<h3>
								新款帆布男包手提包 男士休闲手提包 男款帆布包
							</h3>
							<p>
								高碑店市新城梓发箱包销售部 经销批发的时尚休闲女包畅销消费者市场，在消费者当中享有较高的地位，公司与多家零售商和代理商建立了长期稳定的合作关系。高碑店市新城梓发箱包销售部经销的时尚休闲女包品种齐全、价格合理。高碑店市新城梓发箱包销售部实力雄厚，重信用、守合同、保证产品质量，以多品种经营特色和薄利多销的原则，赢得了广大客户的信任。 
							</p>
							<p>
								 <a class="btn btn-primary" href="#">去看看</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/image/man_bag.jpg" />
						<div class="caption">
							<h3>
								新款帆布男包手提包 男士休闲手提包 男款帆布包
							</h3>
							<p>
								高碑店市新城梓发箱包销售部 经销批发的时尚休闲女包畅销消费者市场，在消费者当中享有较高的地位，公司与多家零售商和代理商建立了长期稳定的合作关系。高碑店市新城梓发箱包销售部经销的时尚休闲女包品种齐全、价格合理。高碑店市新城梓发箱包销售部实力雄厚，重信用、守合同、保证产品质量，以多品种经营特色和薄利多销的原则，赢得了广大客户的信任。 
							</p>
							<p>
								 <a class="btn btn-primary" href="#">去看看</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/image/man_bag.jpg" />
						<div class="caption">
							<h3>
								新款帆布男包手提包 男士休闲手提包 男款帆布包
							</h3>
							<p>
								高碑店市新城梓发箱包销售部 经销批发的时尚休闲女包畅销消费者市场，在消费者当中享有较高的地位，公司与多家零售商和代理商建立了长期稳定的合作关系。高碑店市新城梓发箱包销售部经销的时尚休闲女包品种齐全、价格合理。高碑店市新城梓发箱包销售部实力雄厚，重信用、守合同、保证产品质量，以多品种经营特色和薄利多销的原则，赢得了广大客户的信任。 
							</p>
							<p>
								 <a class="btn btn-primary" href="#">去看看</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  </body>
</html>
